@use '~styles/variables' as *;

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  max-width: $max-width;
  margin: auto;
  background: var(--background-color);

  > nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    padding: 2rem 1rem;
    font-weight: bold;
    font-size: 2.5rem;
    white-space: nowrap;
  }
}

.headerDark {
  box-shadow: 0 0 10px $black;
}
