@use '~styles/abstracts' as *;

.item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  width: min-content;
  margin: 2rem;
  white-space: nowrap;

  &:hover {
    svg {
      fill: $blue-300;
    }
  }
}

.external {
  display: inline-flex;
  gap: 4px;
  align-items: center;
}
