$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$grey: hsl(0, 0%, 50%);

// BG and Font
$bg-400: hsl(0, 0%, 85%);
$font-400: hsl(0, 0%, 0%);

// Theme
$blue-300: #3945e6;
$blue-400: #3641d8;
$blue-500: #3039bf;
$blue-600: #262e99;
$blue-700: #161b59;
