@use '~styles/variables' as *;

.home {
  h2 {
    font-size: 6rem;
  }
}

.headshot {
  border-radius: 40px;
}

.info {
  display: flex;
  align-items: center;
  width: fit-content;
  margin: auto;
  text-align: start;

  > ul {
    padding-left: 40px;

    > li {
      margin: 2rem;
      list-style: square;
      font-weight: bold;
      font-size: 3rem;
    }

    > li::marker {
      color: $blue-300;
    }
  }
}

.techStack {
  > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    font-size: 2rem;
  }
}

.work {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  > li {
    margin: 2rem;
    font-weight: 300;
    font-size: 4rem;
  }
}

.readMore {
  display: block;
  margin: 0 0 2rem;
  font-size: 2rem;
}
