@use './abstracts' as *;

.section {
  @extend %section-page-template;

  > ul {
    font-size: 2rem;
    line-height: 4rem;
  }

  > a {
    display: block;
    margin: 2rem 0;
  }

  a {
    color: $blue-200;
    font-size: 2rem;

    &:hover {
      text-shadow: 0 0 1px $blue-400;
    }
  }
}
