@use './abstracts' as *;

.headshot {
  border-radius: 40px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  > li {
    margin: 2rem;
    font-size: 2.8rem;
    font-weight: 300;

    div {
      font-size: 1.6rem;
    }
  }
}

.info {
  display: flex;
  align-items: center;
  font-weight: 300;
  text-align: start;

  > ul {
    padding-left: 20px;

    > li {
      margin: 2rem;
      font-size: 2.4rem;
      list-style: square;
    }

    > li::marker {
      color: $blue-300;
    }
  }
}

.techStack {
  > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
}

.readMore {
  display: block;
  margin: 0 0 2rem;
  font-size: 2rem;
}

.links {
  display: flex;
  justify-content: space-around;
}
